coverage*.out
/codegen/testdata/*/sysl.json
.blueprint
/codegen/arrai/auto/tests/simple_rest/gen/pkg/servers/PingPong/
/codegen/arrai/auto/tests/simple_rest_with_downstream/gen/pkg/servers/Gateway/
/codegen/arrai/auto/tests/simple_grpc_with_downstream/gen/pkg/servers/Gateway/
/codegen/arrai/auto/tests/simple_grpc_with_downstream/gen/pb/**/*.go
