name: Lint and Test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run golangci-lint 1.29.0
        uses: golangci/golangci-lint-action@v2
        with:
          version: 1.29.0

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run tests
        run: make check-coverage

      - name: Check go mod is tidy
        run: make check-tidy

      - name: Install Sysl and Arr.ai
        run: |
          go get -u -v github.com/anz-bank/sysl/cmd/sysl
          go get -u -v github.com/arr-ai/arrai/cmd/arrai
          go get -u -v golang.org/x/tools/cmd/goimports
