name: Lint and Test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run golangci-lint 1.23.8
        uses: actions-contrib/golangci-lint@v1
        with:
          golangci_lint_version: 1.23.8

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run tests
        run: make check-coverage

      - name: Check go mod is tidy
        run: make check-tidy

      - name: Install Sysl and Arr.ai
        run: go get -u -v github.com/anz-bank/sysl/cmd/sysl github.com/arr-ai/arrai/cmd/arrai

      - name: Compare Sysl and arr.ai transforms output
        run: PATH=$PATH:$(go env GOPATH)/bin make arrai-nodiff
